<?php

declare(strict_types=1);

/*
 * WhatsAppCloudAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace WhatsAppCloudAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use WhatsAppCloudAPILib\Exceptions\ApiException;
use WhatsAppCloudAPILib\Models\GetBusinessProfileIDResponse;
use WhatsAppCloudAPILib\Models\SuccessResponse;
use WhatsAppCloudAPILib\Models\UpdateBusinessProfileRequest;

class BusinessProfilesController extends BaseController
{
    /**
     * Use this endpoint to retrieve your business’ profile. This business profile is visible to consumers
     * in the chat thread next to the profile photo. The profile information will contain a business
     * profile ID which you can use to make API calls.
     *
     * @param string $phoneNumberID
     * @param string|null $fields Here you can specify what you want to know from your business as a
     *        comma separated list of fields. Available fields include: id, about,
     *        messaging_product, address, description, vertical, email, websites,
     *        profile_picture_url
     *
     * @return GetBusinessProfileIDResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBusinessProfileID(string $phoneNumberID, ?string $fields = null): GetBusinessProfileIDResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/{Phone-Number-ID}/whatsapp_business_profile')
            ->auth('global')
            ->parameters(
                TemplateParam::init('Phone-Number-ID', $phoneNumberID),
                QueryParam::init('fields', $fields)
            );

        $_resHandler = $this->responseHandler()->type(GetBusinessProfileIDResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Use this endpoint to update your business’ profile information such as the business description,
     * email or address.
     *
     * @param string $phoneNumberID
     * @param UpdateBusinessProfileRequest $body
     *
     * @return SuccessResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateBusinessProfile(string $phoneNumberID, UpdateBusinessProfileRequest $body): SuccessResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/{Phone-Number-ID}/whatsapp_business_profile')
            ->auth('global')
            ->parameters(
                TemplateParam::init('Phone-Number-ID', $phoneNumberID),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(SuccessResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
