<?php

declare(strict_types=1);

/*
 * WhatsAppCloudAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace WhatsAppCloudAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use WhatsAppCloudAPILib\Exceptions\ApiException;
use WhatsAppCloudAPILib\Models\Message;
use WhatsAppCloudAPILib\Models\SendMessageResponse;

class MessagesController extends BaseController
{
    /**
     * Use this endpoint to send text messages, media, message templates to your customers.
     *
     * @param string $phoneNumberID
     * @param Message $body To send a message, you must first assemble a message object with the
     *        content you want to send.
     *
     * @return SendMessageResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function sendMessage(string $phoneNumberID, Message $body): SendMessageResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/{Phone-Number-ID}/messages')
            ->auth('global')
            ->parameters(
                TemplateParam::init('Phone-Number-ID', $phoneNumberID),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(SendMessageResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
